<section class = "homepage-images">
        <img src="DisneyPlus.png" alt="DisneyPlus">
        <img src="HBO.png" alt="HBO">
        <img src="Prime.jpg" alt="Prime">
        <img src="Netflix.png" alt="Netflix">
        <img src="Spotify.png" alt="Spotify">
    </section>
    <div class="homepage-section">
        <h1>Welcome to SwapLogs</h1>
        <p>
            SwapLogs is the platform that lets you swap passwords for your favorite streaming services, such as Disney Plus, HBO, Spotify, Netflix, and Amazon Prime, without the need for a subscription. Our secure and easy-to-use platform allows users to swap their login credentials with others, giving you access to a wider range of streaming content without any extra cost.
        </p>
        <p>
            By swapping passwords with other users, you can gain access to new shows, movies, and music that you may not have been able to access before. Join SwapLogs today and start exploring a world of entertainment possibilities.
        </p>
        <div class="signup-section">
            <h2>Sign up now</h2>
            <p>
                With our user-friendly interface and secure login system, you can rest assured that your personal information and login credentials are kept safe and secure at all times. Start swapping passwords with other streaming enthusiasts and enjoy a wider range of streaming content today!
            </p>
        </div>
    </div>