header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px;
background-color: #333;
color: white;
}

h1 {
margin: 0;
}

.header-buttons {
display: flex;
gap: 10px;
}

button {
padding: 10px 20px;
border: none;
background-color: #fff;
color: #333;
font-size: 16px;
cursor: pointer;
}

.login-button {
background-color: #ff8c00;
color: white;
}

.signup-button {
background-color: #008080;
color: white;
}

.homepage-images {
text-align: center;
}

.homepage-images img {
display: inline-block;
margin-right: 10px;
max-width: 25%;
height: auto;
}

.homepage-section {
background-color: #f2f2f2;
padding: 20px;
text-align: center;
}

h1 {
font-size: 36px;
margin-bottom: 30px;
}

p {
font-size: 18px;
line-height: 1.5;
margin-bottom: 20px;
}

.signup-section {
background-color: #fff;
border: 2px solid #ccc;
padding: 20px;
margin-top: 30px;
text-align: center;
}

h2 {
font-size: 24px;
margin-bottom: 20px;
}

.no-wrap {
    white-space: nowrap;
}